.form-box1{
  width: 70%;
  max-width: 400px;
  position: relative;
  margin-top: 20px;
}

label{
    position: relative;
    top: -51px;
    left: 10px;
    color: #4D179A;
    background-color: white;
}
#lab2{
    position: relative;
    top: -49px;
    left: 10px;
    color: #4D179A;
    background-color: white;
}
.btn{
    background-color: #4D179A;
    color: white;
}
#rlab{
    position: static;
    color: black;
}

@media (min-width:768px){
  .form-box1{
    width:70%;
  }
}

@media (min-width:1024px){
  .form-box1{
    width:50%;
  }
}
